
<section class="post post--text">
  <div class="container">
    <div class="row">
      <div class="post__item post__item--text">
        <span>Login: admin</span>
        <br>
        <span>Pass: admin</span>
        <div class="post__wrap post__wrap--blog-page form">
          <div class="form__wrap">
            <h3 class="form__title">Login</h3>
            <div class="form__input-wrap">
              <div class="form__input-text-wrap">
                <label class="form__input-title" for="email">E-mail</label>
                <span class="form__annotation">*required</span>
              </div>
              <input [(ngModel)]="user.login" class="form__input" id="email" placeholder="Enter E-mail">
            </div>
            <div class="form__input-wrap">
              <div class="form__input-text-wrap">
                <label class="form__input-title" for="password">Password</label>
                <span class="form__annotation">*required</span>
              </div>
              <input [(ngModel)]="user.password" class="form__input" id="password" placeholder="Enter password">
            </div>
          </div>
          <div class="form__btns">
            <a [routerLink]="['/courses']" class="form__link">Forgot password?</a>
            <button (click)="onLogIn()" class="btn btn--secondary" type="button">Login</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
