.post__item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 450px;
}

.post__wrap {
  flex-direction: column;

  &:hover {
    box-shadow: none;

  }
}

.btn {
  &--secondary {
    margin-right: 0;
  }
}
