<div class="container">
  <div class="row">
    <div class="search">
      <input (keyup)="oninputChange()" placeholder="Search..." class="search__input" [(ngModel)]="searchFieldText">
    </div>
    <div class="add-course">
        <a [routerLink]="['new']" class="btn btn--secondary add-course__btn">Add course</a>
    </div>
  </div>
</div>

