//Bootstrap imports
@import "variables";
@import "mixins";

//Custom imports
@import "custom-variables";


.footer {
  height: 71px;
  background-color: $fantasy;

  &__soc {
    margin-top: 10px;

    @include make-xs-column(2);
  }

  &__logo {
    text-align: center;
    margin-top: 22px;

    @include make-xs-column(2);
    @include make-xs-column-offset(3);
  }

  &__copyright {
    text-align: right;
    font: 15px/25px $mainFont;
    color: $mineShaft;
    margin-top: 22px;

    @include make-xs-column(3);
    @include make-xs-column-offset(2);
  }
}
