<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer__logo logo">
        <a [routerLink]="['/courses']" class="logo__link">
          <p class="logo__text">Video Courses</p>
        </a>
      </div>
      <div class="footer__copyright">
        <p class="footer__copyright-text">©2020 All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
