<section class="post post--text">
  <div class="container">
    <div class="row">
      <div class="post__item post__item--text">
        <div
           class="post__wrap post__wrap--blog-page"
           [appHightlightBorder]="course.date"
           [ngClass]="{'post__wrap--top-rated': course.isTopRated}">
          <div class="post__info-wrap">
            <div class="info-block">
              <span class="info-block__read-time info-block__item" data-testId="courseDuration">{{course.length | duration}} read</span>
              <span class="info-block__date info-block__item" data-testId="courseCreationDate">{{course.date | date}}</span>
            </div>
            <h3 class="post__heading" data-testId="courseTitle">{{course.name | uppercase}}</h3>
            <p class="post__text" data-testId="courseDescription">{{course.description}}</p>
          </div>
          <div class="post__btn-wrap">
            <a [routerLink]="['/courses', course.id]" class="btn btn--secondary">Edit</a>
            <button (click)="delete();" class="btn btn--secondary" data-testId="deleteBtn">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
