<app-search-section (searchOutput)="filterCourses($event)"></app-search-section>

<app-courses-list [coursesArr]="filteredCourses"></app-courses-list>

<div *ngIf="!isCoursesEmpty()" class="container">
  <div class="row">
    <div class="no-data">
      <p class="no-data__text">No data, feel free to add new course</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="read-more">
      <button data-testId="deleteBtn" (click)="loadMoreCourses()" class="read-more__btn">load more</button>
    </div>
  </div>
</div>

<app-pagination (listOfPaginatedCoursesEmit)="paginate($event)"></app-pagination>
