.post__wrap {
  margin: 50px 0;
  flex-direction: column;

  &:hover {
    box-shadow: none;

  }
}

.btn {
  &--secondary {
    margin-right: 0;
  }
}

.form {
  &__btns {
    margin-top: 50px;
    max-width: 200px;
  }
}
