<section class="post post--text">
  <div class="container">
    <div class="row">
      <div class="post__item post__item--text">
        <div class="post__wrap post__wrap--blog-page form edit-form">
          <div class="form__wrap">
            <h3 class="form__title">New course</h3>
            <div class="form__input-wrap">
              <div class="form__input-text-wrap">
                <label class="form__input-title" for="title">Title</label>
                <span class="form__annotation">*require</span>
              </div>
              <input id="title" placeholder="Enter Title" class="form__input" [(ngModel)]="course && course.name">
            </div>
            <div class="form__input-wrap">
              <div class="form__input-text-wrap">
                <label class="form__input-title" for="description">Description</label>
                <span class="form__annotation">*required</span>
              </div>
              <textarea id="description" class="form__input form__input--textarea" [(ngModel)]="course && course.description"></textarea>
            </div>
            <app-add-course-duration [course]="course"></app-add-course-duration>
            <app-add-course-date [course]="course"></app-add-course-date>
            <app-add-course-authors [course]="course"></app-add-course-authors>
          </div>
          <div class="form__btns">
            <button type="button" class="btn btn--secondary" (click)="save()">Save</button>
            <button [routerLink]="['/courses']" type="button" class="btn btn--secondary">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
