//Constants
$headerHeight: 125px;
$footerHeight: 71px;

//Fonts
$mainFont: 'HindSiliguriRegular', sans-serif;
$semiBoldFont: 'HindSiliguriSemiBold', sans-serif;
$boldFont: 'HindSiliguriBold', sans-serif;
$mediumFont: 'HindSiliguriMedium', sans-serif;
$lightFont: 'HindSiliguriLight', sans-serif;

$postAuthorName: 17px/28px $mediumFont;
//Colours
$tundora: #4d4949;
$white: #fff;
$black: #000;
$gray: #818181;
$dustyGray: #979797;
$alto: #d8d8d8;
$fuscousGray: #4d4c49;
$alabaster: #f8f8f8;
$scorpion: #5c5c5c;
$sundown: #ffb0b0;
$froly: #f06786;
$mineShaft: #333;
$silverChalice: #acacac;
$abbey: #494a4d;
$anakiwa: #b0d1ff;
$concrete: #f2f2f2;
$mercury: #e6e6e6;
$alto: #ddd;
$cornflowerBlue: #f8f8f8;
$fantasy: #fcf6f6;
