<div class="container">
  <div class="row">
    <div class="pagination">
      <button (click)="onPageClick(i)" class="pagination__btn" *ngFor="let number of pagesAmount; let i = index">{{i +1}}</button>
    </div>
  </div>
</div>
