//Bootstrap imports
@import "variables";
@import "mixins";
@import "grid";
@import "scaffolding";

//Custom imports
@import "custom-variables";
@import "colour-matrix";

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

.header {
  background-color: $fantasy;

  &__logo {
    @include make-xs-column(7);

    color: $fuscousGray;
    margin-top: 25px;

    & .logo__text {
      color: $fuscousGray;
    }
  }

  &__wrap {
    @include make-xs-column(7);
  }

  &__title {
    display: inline-block;
    margin-top: 100px;
    width: 420px;
    font: 28px/37px $mineShaft;
  }

  &__text {
    font: 17px/26px $mineShaft;
    margin-top: 22px;
  }

  &__buttons {
    margin-top: 22px;
  }

  &--secondary {
    height: 80px;
    margin-bottom: 45px;
  }
}

.nav-page {
  @include make-xs-column(5);

  &__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
  }

  &__item {
    margin-left: 10px;
  }

  &__link {
    position: relative;
    color: $mineShaft;
    font: 15px/25px $mainFont;

    &:hover::after {
      left: 0;
      width: 100%;
    }

    &:hover,
    &:focus {
      color: $sundown;
    }

    &--active::after {
      border-bottom: 1px solid;
      width: 100%;
    }
  }

  & .btn--primary {
    color: $btnMainColor;
  }
}
