<header class="header header--secondary">

  <div class="container">
    <div class="row">
      <div class="logo header__logo">
        <a class="logo__link">
          <a [routerLink]="['/courses']" class="logo__text">Video Courses</a>
        </a>
      </div>

      <nav class="nav-page">
        <ul class="nav-page__list">
          <li *ngIf="isAuthenticated; else isNotLoggedIn" class="nav-page__item nav-page__item--text">
            <span>Hello, {{userInfo?.first}} {{userInfo?.last}}</span>
          </li>

          <ng-template #isNotLoggedIn>
            <li class="nav-page__item">
              <a [ngClass]="{'disabled': isAuthenticated}" [routerLink]="['/login']" class="btn btn--primary">Log In</a>
            </li>
          </ng-template>

          <li class="nav-page__item">
            <button
              (click)="logOut()"
              class="btn btn--primary"
            >Log Off
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </div>

</header>
