<div class="form__input-wrap form__input-wrap--medium">
  <div class="form__input-text-wrap">
    <label class="form__input-title" for="authors">Authors</label>
    <span class="form__annotation">*required</span>
  </div>
  <input id="authors" class="form__input" [(ngModel)]="course && course.authors">
</div>
