<div class="form__input-wrap form__input-wrap--small">
  <div class="form__input-text-wrap form__input-text-wrap--small">
    <label class="form__input-title" for="duration">Duration</label>
    <span class="form__annotation">*required</span>
  </div>
  <input type="number" id="duration" class="form__input form__input--small" [(ngModel)]="course && course.length"> <span>{{course.length|duration}}</span>
</div>
